/*------------------------------------------------------------------------------
  ROOT VARIABLES
*/
:root {

  /* BASIC COLOR SCHEMA PLACEHOLDER */
  --C01: #f9f9f9;
  --C02: #999;
  --C03: #888;
  --C04: #777;
  --C05: #666;
  --C06: #555;
  --C07: #444;
  --C08: #333;
  --C09: #222;
  --C10: #111;


  /* SHADOWS */


  /* BORDERS */


  /* ALPHAS */

}



/*------------------------------------------------------------------------------
  UNIVERSAL ELEMENTS
*/

/* Keeps elements from overflowing containers */
*, *::before, *::after {  
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

html{

  scroll-behavior: smooth;

  /* Disabling user selection 
    //TODO: 04/05/22 #EP | Commented out for now left for reference
  */
  /*
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none; */

    padding: 0;
    margin: 0;
}


body {
  margin: 0;
  padding: 0;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}




/* Default Inline Code Styling */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Default Hyperlink Styling */
a {

  /* --a-light: var(--body_fc_light);
  --a-dark: var(--body_fc_dark);
  color: var(--body_fc_dark); */
  text-decoration: none;
}

/* Default button Styling */
button {
         
  /* Buttons text color */
  --btn_tc_inactive: var(--c_05); /* button inactive text color */
  --btn_tc_active: var(--c_04); /* button active text color for hover and click */

  /* Buttons background color */
  --btn_bg_inactive: var(--c_05); /* button inactive text color */
  --btn_bg_active: var(--c_04); /* button active text color for hover and click */

}

/*------------------------------------------------------------------------------
  HEADER, NAV, BRAND-NAME and LOGO 
*/

/* SPA HEADER holds nav, brand-name and logo */
header {

}

/* NAVIGATION MENU */
nav {

}


/*------------------------------------------------------------------------------
  CALENDAR
*/



/*------------------------------------------------------------------------------
  BUSINESS-PROFILE-PAGE
*/




/*------------------------------------------------------------------------------
  FOOTER  
*/

footer {

}


/*------------------------------------------------------------------------------
  MEDIA TYPES

    Using min-width to make changes for all desktop views, not max-width.
    - This allows for less complex CSS
*/



@media (min-width: 600px) {


}