


.brandLogo{
  margin: 1rem;
  width: 50px;
  /* transition: ease-in-out 200ms; */
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
  /* -webkit-transform: translateZ(0);
  transform: translateZ(0); */
  animation: shake 20s;
}

.brandLogo:hover {
  /* 
      Start the shake animation 
      When the animation is finished, start again 
   */
  animation: shake 1s, hover 20s;
  cursor: pointer;
  animation-iteration-count: infinite;
}


.brandLogo:hover::after {
  
}


@keyframes hover {
	50% {
		transform: translateX(-10rem);
	}

	100% {
		transform: translateX(-30rem);
	}
}
/* Used for shake on hover */
@keyframes shake {
  0% { 
     -webkit-transform:  translate(1px, 1px) rotate(-20deg);
    transform: translate(1px, 1px) rotate(-20deg); 
  }
  10% { 
     -webkit-transform:  translate(-1px, -1px) rotate(-5deg);
    transform: translate(-1px, -1px) rotate(-5deg); 
  }
  20% { 
     -webkit-transform:  translate(-3px, -3px) rotate(-10deg);
    transform: translate(-3px, -3px) rotate(-10deg); 
  }
  30% { 
     -webkit-transform:  translate(0px, 0px) rotate(-5deg);
    transform: translate(0px, 0px) rotate(-5deg); 
  }
  40% { 
     -webkit-transform:  translate(1px, 1px) rotate(-10deg);
    transform: translate(1px, 1px) rotate(-10deg); 
  }
  50% { 
     -webkit-transform:  translate(2px, 2px) rotate(-20deg);
    transform: translate(2px, 2px) rotate(-20deg); 
  }
  60% { 
     -webkit-transform:  translate(3px, 3px) rotate(-30deg);
    transform: translate(3px, 3px) rotate(-30deg); 
  }
  70% { 
     -webkit-transform:  translate(1px, 1px) rotate(-40deg);
    transform: translate(1px, 1px) rotate(-40deg);
  }
  80% { 
     -webkit-transform:  translate(-1px, -1px) rotate(-10deg);
    transform: translate(-1px, -1px) rotate(-10deg); 
  }
  90% { 
     -webkit-transform:  translate(1px, 2px) rotate(-5deg);
    transform: translate(1px, 2px) rotate(-5deg); 
  }
  100% { 
     -webkit-transform:  translate(1px, -2px) rotate(-10deg);
    transform: translate(1px, -2px) rotate(-10deg); 
  }
}


/* ANIMATIONS FOR HIDING AND FADING CONTENT */
.remove-animation {
    animation: none !important;
  }

.fade-in {
    animation-name: FadeIn;
    animation-duration: 1s;
    transition-timing-function: linear;
  }
  .fade-out {
    animation-name: FadeOut;
    animation-duration: 5s;
    transition-timing-function: linear;
  }
  
  .fade-in-out {
    /* animation-name: slide-in; */
    animation-name: FadeOut;
    animation-duration: 5s;
    transition-timing-function: linear;
  }

@keyframes FadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @-moz-keyframes FadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @-webkit-keyframes FadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @-o-keyframes FadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @-ms-keyframes FadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes FadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  @-moz-keyframes FadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  

/* FADING OUT */
  @-webkit-keyframes FadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  @-o-keyframes FadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  @-ms-keyframes FadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }